# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# R temporary files
.Rhistory
.RData
